* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 0, 255)
}

.container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: rgb(86, 160, 84);
    margin-right: 10px;
    border-radius: 1%;
    border: 2px solid black;
}

.container div {
    display: flex;
    border: 1px solid black;

}



.challenge p {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
}

form > input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend Zetta', sans-serif;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 300px;
    height: 600px;
    background-color: rgb(150, 184, 149);
    border-radius: 1%;
    border: 2px solid black;
}

.gameInfo button {
    margin: 20px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    font-family: 'Lexend Zetta', sans-serif;
    -webkit-border-radius: 2%;
    border-radius: 2%;
}

.gameInfo p {
    height: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Lexend Zetta', sans-serif;
}

input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

#responseText {
    visibility: hidden;
}

@media only screen and (max-width: 900px) {

.container {
    width: 300px;
    height: 1500px;
    margin-right: 0;
}

#game {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
}

.gameInfo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    height: 140px;
    width: 300px;
}

.gameInfo p {
    height: auto;
    font-family: 'Lexend Zetta', sans-serif;
}

.gameInfo button {
    margin: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-family: 'Lexend Zetta', sans-serif;
    -webkit-border-radius: 2%;
    border-radius: 2%;
}

.timeText {
    margin-top: 5px;
    display: flex;
    font-size: 25px;
}

}


