* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#container {
    width: 800px;
    height: 600px;
    position: relative;
}

#bakgrund {
    width: 700px;
    height: auto;
    position: absolute;
    top: 20px;
}

#svg {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 20px;
}

#circle-marker circle {
    fill: orange;
    stroke: orange;
}

#knapp {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    background: white;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
}

#knapp:hover {
    border: 3px solid black;
    cursor: pointer;
}

.place:hover {
    cursor: pointer
}

#tabell {
    visibility: hidden;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    left: 750px;
    top: 450px;
    padding-left: 10px;
    background: lightgray;
    width: 250px;
    height: 300px;
    font-family: monospace;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

#tabell_header {
    text-decoration: underline;
    font-weight: bold;
}