* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    background: linear-gradient(to bottom right, rgb(255, 176, 124),white)
}

select {
    height: 30px;
}

.question_text {
    font-size: 20px;
    margin-right: 10px;
}

#headline {
    font-size: 30px;
    position: fixed;
    left: 50px;
    top: 30px;
}

#name_segment {
    display: flex;
    position: fixed;
    left: 50px;
    top: 680px;
    height: 50px;
    align-items: center;
}

#column_segment {
    display: flex;
    position: fixed;
    left: 50px;
    top: 640px;
    height: 50px;
    align-items: center;
}

#start {
    position: fixed;
    top: 740px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: goldenrod;
    font-size: 20px;
}

#start:hover {
    background: rgb(4, 78, 4);
    cursor: pointer;
}

#text_field {
    background: rgb(223, 223, 223);
    position: fixed;
    left: 50px;
    top: 80px;
    width: 200px;
    height: 550px;
    resize: none;
    outline: none;
}