* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 100%;
    background: lightskyblue;
    grid-area: na;
}

#nav_list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

a:hover {
    font-weight: bold;
}

.btn {
    background-color: lightskyblue;
    border: none;
    color: white; 
    font-size: 40px;
  }
  
.btn:hover {
    color: black;
    cursor: pointer;
}

#home_button_area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: he;
}

#main_header {
    font-family: 'Holtwood One SC', serif;
}

footer {
    height: 100%;
    width: 100vw;
    background: lightskyblue;
    grid-area: fo;
}

main {
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100%;
    grid-area: ma;
    grid-template-areas: 
    "he he he"
    ".  .  . "
    "au .  ip"
    ".  .  . "
    ;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 100px 5px 80px 20px;
}

#wrapper_main_site {
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 70px 1fr 30px;
    grid-template-areas:
    "he"
    "na"
    "ma"
    "fo";
}

.arbetsuppgifter {
    grid-area: au;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.infor_prov {
    grid-area: ip;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rubrik {
    font-size: 20px;
    font-family: 'Holtwood One SC', serif;
    grid-area: he;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: normal;
}

@media screen and (max-width: 500px) {
    #main_header {
        font-size: 1em;
    }
    

}