* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.dice:hover {
    cursor: pointer;
}

.grid_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 700px;
    height: 400px;
}