* {
    font-family: monospace;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions {
    margin-top: 150px;
    width: 600px;
    font-size: 2rem;
    text-align: justify;
}

.person {
    font-size: 3rem;
    letter-spacing: 3rem;
    font-weight: bold;
    color: lightgray;
}

section {
    margin: 50px;
}