* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
}

.selected {
    animation: dance 1s linear infinite 100ms; 
}

.container {
    display: grid;
    justify-content: center;
    grid-template-areas: 
        ". . c14 . ."
        "c4 c5 . c9 c10"
        "c3 c6 c7 c8 c11"
        "c2 c1 . c13 c12";
    grid-template-rows:
        140px 140px 140px 140px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    row-gap: 15px;
    position: relative;
    top: 10px;
}

img {
    width: 85px;
    height: auto;
    border: solid 1px black;
    border-radius: 5%;
}

.main:hover {
    border: solid 2px black;
    cursor: pointer;
}

.kort {
    display: flex; 
    position: relative; 
    align-items: center; 
    justify-content: center;
}

.c1 {grid-area: c1;}
.c2 {grid-area: c2;}
.c3 {grid-area: c3;}
.c4 {grid-area: c4;}
.c5 {grid-area: c5;}
.c6 {grid-area: c6;}
.c7 {grid-area: c7;}
.c8 {grid-area: c8;}
.c9 {grid-area: c9;}
.c10 {grid-area: c10;}
.c11 {grid-area: c11;}
.c12 {grid-area: c12;}
.c13 {grid-area: c13;}
.c14 {grid-area: c14;}

.c14_0 {position: relative;z-index: 3;}
.c14_1 {position: absolute;z-index: 2;left: 10px;}
.c14_2 {position: absolute;z-index: 1;left: 12px;}

.c1_0 {position: relative;z-index: 3;}
.c1_1 {position: absolute;z-index: 2;bottom: 5px;}
.c1_2 {position: absolute;z-index: 1;bottom: 7px;}

.c2_0 {position: relative;z-index: 3;}
.c2_1 {position: absolute;z-index: 2;bottom: 5px;}
.c2_2 {position: absolute;z-index: 1;bottom: 7px;}

.c3_0 {position: relative;z-index: 3;}
.c3_1 {position: absolute;z-index: 2;bottom: 5px;}
.c3_2 {position: absolute;z-index: 1;bottom: 7px;}

.c4_0 {position: relative;z-index: 3;}
.c4_1 {position: absolute;z-index: 2;bottom: 5px;}
.c4_2 {position: absolute;z-index: 1;bottom: 7px;}

.c5_0 {position: relative;z-index: 3;}
.c5_1 {position: absolute;z-index: 2;bottom: 5px;}
.c5_2 {position: absolute;z-index: 1;bottom: 7px;}

.c6_0 {position: relative;z-index: 3;}
.c6_1 {position: absolute;z-index: 2;bottom: 5px;}
.c6_2 {position: absolute;z-index: 1;bottom: 7px;}

.c7_0 {position: relative;z-index: 3;}
.c7_1 {position: absolute;z-index: 2;bottom: 5px;}
.c7_2 {position: absolute;z-index: 1;bottom: 7px;}

.c8_0 {position: relative;z-index: 3;}
.c8_1 {position: absolute;z-index: 2;bottom: 5px;}
.c8_2 {position: absolute;z-index: 1;bottom: 7px;}

.c9_0 {position: relative;z-index: 3;}
.c9_1 {position: absolute;z-index: 2;bottom: 5px;}
.c9_2 {position: absolute;z-index: 1;bottom: 7px;}

.c10_0 {position: relative;z-index: 3;}
.c10_1 {position: absolute;z-index: 2;bottom: 5px;}
.c10_2 {position: absolute;z-index: 1;bottom: 7px;}

.c11_0 {position: relative;z-index: 3;}
.c11_1 {position: absolute;z-index: 2;bottom: 5px;}
.c11_2 {position: absolute;z-index: 1;bottom: 7px;}

.c12_0 {position: relative;z-index: 3;}
.c12_1 {position: absolute;z-index: 2;bottom: 5px;}
.c12_2 {position: absolute;z-index: 1;bottom: 7px;}

.c13_0 {position: relative;z-index: 3;}
.c13_1 {position: absolute;z-index: 2;bottom: 5px;}
.c13_2 {position: absolute;z-index: 1;bottom: 7px;}

.button {
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    border: solid 1px black;
    margin: 20px auto;
    top: 20px;
    background: white;
}

.button:hover {
    background:lightgreen;
    cursor: pointer;
}