* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "FrederickatheGreat";
    src: url(fonts/FrederickatheGreat-Regular.ttf) format("truetype");
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
}

.header {
    font-family: 'FrederickatheGreat', cursive;
    font-size: 150px;
    text-align: center;
}

.selected {
    animation: dance 1s linear infinite 100ms; 
}

.container {
    display: grid;
    justify-content: center;
    grid-template-areas: 
        ". . c14 . ."
        "c4 c5 . c9 c10"
        "c3 c6 c7 c8 c11"
        "c2 c1 . c13 c12";
    grid-template-rows:
        140px 140px 140px 140px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    row-gap: 15px;
    position: relative;
    top: 10px;
}

img {
    width: 85px;
    height: auto;
    border: solid 1px black;
    border-radius: 5%;
}

.main:hover {
    border: solid 2px black;
    cursor: pointer;
}

.kort {
    display: flex; 
    position: relative; 
    align-items: center; 
    justify-content: center;
}

.c1 {grid-area: c1;}
.c2 {grid-area: c2;}
.c3 {grid-area: c3;}
.c4 {grid-area: c4;}
.c5 {grid-area: c5;}
.c6 {grid-area: c6;}
.c7 {grid-area: c7;}
.c8 {grid-area: c8;}
.c9 {grid-area: c9;}
.c10 {grid-area: c10;}
.c11 {grid-area: c11;}
.c12 {grid-area: c12;}
.c13 {grid-area: c13;}
.c14 {grid-area: c14;}

.c14_1 {position: relative;z-index: 13;}
.c14_2 {position: absolute;z-index: 12;left: 10px;}
.c14_3 {position: absolute;z-index: 11;left: 12px;}
.c14_4 {position: absolute;z-index: 10;left: 14px;}
.c14_5 {position: absolute;z-index: 9;left: 16px;}
.c14_6 {position: absolute;z-index: 8;left: 18px;}
.c14_7 {position: absolute;z-index: 7;left: 20px;}
.c14_8 {position: absolute;z-index: 6;left: 22px;}
.c14_9 {position: absolute;z-index: 5;left: 24px;}
.c14_10 {position: absolute;z-index: 4;left: 26px;}
.c14_11 {position: absolute;z-index: 3;left: 28px;}
.c14_12 {position: absolute;z-index: 2;left: 30px;}
.c14_13 {position: absolute;z-index: 1;left: 32px;}


.c1_1 {position: relative;z-index: 13;}
.c1_2 {position: absolute;z-index: 12;bottom: 5px;}
.c1_3 {position: absolute;z-index: 11;bottom: 7px;}
.c1_4 {position: absolute;z-index: 10;bottom: 9px;}
.c1_5 {position: absolute;z-index: 9;bottom: 11px;}
.c1_6 {position: absolute;z-index: 8;bottom: 13px;}
.c1_7 {position: absolute;z-index: 7;bottom: 15px;}
.c1_8 {position: absolute;z-index: 6;bottom: 17px;}
.c1_9 {position: absolute;z-index: 5;bottom: 19px;}
.c1_10 {position: absolute;z-index: 4;bottom: 21px;}
.c1_11 {position: absolute;z-index: 3;bottom: 23px;}
.c1_12 {position: absolute;z-index: 2;bottom: 25px;}
.c1_13 {position: absolute;z-index: 1;bottom: 27px;}

.c2_1 {position: relative;z-index: 13;}
.c2_2 {position: absolute;z-index: 12;bottom: 5px;}
.c2_3 {position: absolute;z-index: 11;bottom: 7px;}
.c2_4 {position: absolute;z-index: 10;bottom: 9px;}
.c2_5 {position: absolute;z-index: 9;bottom: 11px;}
.c2_6 {position: absolute;z-index: 8;bottom: 13px;}
.c2_7 {position: absolute;z-index: 7;bottom: 15px;}
.c2_8 {position: absolute;z-index: 6;bottom: 17px;}
.c2_9 {position: absolute;z-index: 5;bottom: 19px;}
.c2_10 {position: absolute;z-index: 4;bottom: 21px;}
.c2_11 {position: absolute;z-index: 3;bottom: 23px;}
.c2_12 {position: absolute;z-index: 2;bottom: 25px;}
.c2_13 {position: absolute;z-index: 1;bottom: 27px;}

.c3_1 {position: relative;z-index: 13;}
.c3_2 {position: absolute;z-index: 12;bottom: 5px;}
.c3_3 {position: absolute;z-index: 11;bottom: 7px;}
.c3_4 {position: absolute;z-index: 10;bottom: 9px;}
.c3_5 {position: absolute;z-index: 9;bottom: 11px;}
.c3_6 {position: absolute;z-index: 8;bottom: 13px;}
.c3_7 {position: absolute;z-index: 7;bottom: 15px;}
.c3_8 {position: absolute;z-index: 6;bottom: 17px;}
.c3_9 {position: absolute;z-index: 5;bottom: 19px;}
.c3_10 {position: absolute;z-index: 4;bottom: 21px;}
.c3_11 {position: absolute;z-index: 3;bottom: 23px;}
.c3_12 {position: absolute;z-index: 2;bottom: 25px;}
.c3_13 {position: absolute;z-index: 1;bottom: 27px;}

.c4_1 {position: relative;z-index: 13;}
.c4_2 {position: absolute;z-index: 12;bottom: 5px;}
.c4_3 {position: absolute;z-index: 11;bottom: 7px;}
.c4_4 {position: absolute;z-index: 10;bottom: 9px;}
.c4_5 {position: absolute;z-index: 9;bottom: 11px;}
.c4_6 {position: absolute;z-index: 8;bottom: 13px;}
.c4_7 {position: absolute;z-index: 7;bottom: 15px;}
.c4_8 {position: absolute;z-index: 6;bottom: 17px;}
.c4_9 {position: absolute;z-index: 5;bottom: 19px;}
.c4_10 {position: absolute;z-index: 4;bottom: 21px;}
.c4_11 {position: absolute;z-index: 3;bottom: 23px;}
.c4_12 {position: absolute;z-index: 2;bottom: 25px;}
.c4_13 {position: absolute;z-index: 1;bottom: 27px;}

.c5_1 {position: relative;z-index: 13;}
.c5_2 {position: absolute;z-index: 12;bottom: 5px;}
.c5_3 {position: absolute;z-index: 11;bottom: 7px;}
.c5_4 {position: absolute;z-index: 10;bottom: 9px;}
.c5_5 {position: absolute;z-index: 9;bottom: 11px;}
.c5_6 {position: absolute;z-index: 8;bottom: 13px;}
.c5_7 {position: absolute;z-index: 7;bottom: 15px;}
.c5_8 {position: absolute;z-index: 6;bottom: 17px;}
.c5_9 {position: absolute;z-index: 5;bottom: 19px;}
.c5_10 {position: absolute;z-index: 4;bottom: 21px;}
.c5_11 {position: absolute;z-index: 3;bottom: 23px;}
.c5_12 {position: absolute;z-index: 2;bottom: 25px;}
.c5_13 {position: absolute;z-index: 1;bottom: 27px;}

.c6_1 {position: relative;z-index: 13;}
.c6_2 {position: absolute;z-index: 12;bottom: 5px;}
.c6_3 {position: absolute;z-index: 11;bottom: 7px;}
.c6_4 {position: absolute;z-index: 10;bottom: 9px;}
.c6_5 {position: absolute;z-index: 9;bottom: 11px;}
.c6_6 {position: absolute;z-index: 8;bottom: 13px;}
.c6_7 {position: absolute;z-index: 7;bottom: 15px;}
.c6_8 {position: absolute;z-index: 6;bottom: 17px;}
.c6_9 {position: absolute;z-index: 5;bottom: 19px;}
.c6_10 {position: absolute;z-index: 4;bottom: 21px;}
.c6_11 {position: absolute;z-index: 3;bottom: 23px;}
.c6_12 {position: absolute;z-index: 2;bottom: 25px;}
.c6_13 {position: absolute;z-index: 1;bottom: 27px;}

.c7_1 {position: relative;z-index: 13;}
.c7_2 {position: absolute;z-index: 12;bottom: 5px;}
.c7_3 {position: absolute;z-index: 11;bottom: 7px;}
.c7_4 {position: absolute;z-index: 10;bottom: 9px;}
.c7_5 {position: absolute;z-index: 9;bottom: 11px;}
.c7_6 {position: absolute;z-index: 8;bottom: 13px;}
.c7_7 {position: absolute;z-index: 7;bottom: 15px;}
.c7_8 {position: absolute;z-index: 6;bottom: 17px;}
.c7_9 {position: absolute;z-index: 5;bottom: 19px;}
.c7_10 {position: absolute;z-index: 4;bottom: 21px;}
.c7_11 {position: absolute;z-index: 3;bottom: 23px;}
.c7_12 {position: absolute;z-index: 2;bottom: 25px;}
.c7_13 {position: absolute;z-index: 1;bottom: 27px;}

.c8_1 {position: relative;z-index: 13;}
.c8_2 {position: absolute;z-index: 12;bottom: 5px;}
.c8_3 {position: absolute;z-index: 11;bottom: 7px;}
.c8_4 {position: absolute;z-index: 10;bottom: 9px;}
.c8_5 {position: absolute;z-index: 9;bottom: 11px;}
.c8_6 {position: absolute;z-index: 8;bottom: 13px;}
.c8_7 {position: absolute;z-index: 7;bottom: 15px;}
.c8_8 {position: absolute;z-index: 6;bottom: 17px;}
.c8_9 {position: absolute;z-index: 5;bottom: 19px;}
.c8_10 {position: absolute;z-index: 4;bottom: 21px;}
.c8_11 {position: absolute;z-index: 3;bottom: 23px;}
.c8_12 {position: absolute;z-index: 2;bottom: 25px;}
.c8_13 {position: absolute;z-index: 1;bottom: 27px;}

.c9_1 {position: relative;z-index: 13;}
.c9_2 {position: absolute;z-index: 12;bottom: 5px;}
.c9_3 {position: absolute;z-index: 11;bottom: 7px;}
.c9_4 {position: absolute;z-index: 10;bottom: 9px;}
.c9_5 {position: absolute;z-index: 9;bottom: 11px;}
.c9_6 {position: absolute;z-index: 8;bottom: 13px;}
.c9_7 {position: absolute;z-index: 7;bottom: 15px;}
.c9_8 {position: absolute;z-index: 6;bottom: 17px;}
.c9_9 {position: absolute;z-index: 5;bottom: 19px;}
.c9_10 {position: absolute;z-index: 4;bottom: 21px;}
.c9_11 {position: absolute;z-index: 3;bottom: 23px;}
.c9_12 {position: absolute;z-index: 2;bottom: 25px;}
.c9_13 {position: absolute;z-index: 1;bottom: 27px;}

.c10_1 {position: relative;z-index: 13;}
.c10_2 {position: absolute;z-index: 12;bottom: 5px;}
.c10_3 {position: absolute;z-index: 11;bottom: 7px;}
.c10_4 {position: absolute;z-index: 10;bottom: 9px;}
.c10_5 {position: absolute;z-index: 9;bottom: 11px;}
.c10_6 {position: absolute;z-index: 8;bottom: 13px;}
.c10_7 {position: absolute;z-index: 7;bottom: 15px;}
.c10_8 {position: absolute;z-index: 6;bottom: 17px;}
.c10_9 {position: absolute;z-index: 5;bottom: 19px;}
.c10_10 {position: absolute;z-index: 4;bottom: 21px;}
.c10_11 {position: absolute;z-index: 3;bottom: 23px;}
.c10_12 {position: absolute;z-index: 2;bottom: 25px;}
.c10_13 {position: absolute;z-index: 1;bottom: 27px;}

.c11_1 {position: relative;z-index: 13;}
.c11_2 {position: absolute;z-index: 12;bottom: 5px;}
.c11_3 {position: absolute;z-index: 11;bottom: 7px;}
.c11_4 {position: absolute;z-index: 10;bottom: 9px;}
.c11_5 {position: absolute;z-index: 9;bottom: 11px;}
.c11_6 {position: absolute;z-index: 8;bottom: 13px;}
.c11_7 {position: absolute;z-index: 7;bottom: 15px;}
.c11_8 {position: absolute;z-index: 6;bottom: 17px;}
.c11_9 {position: absolute;z-index: 5;bottom: 19px;}
.c11_10 {position: absolute;z-index: 4;bottom: 21px;}
.c11_11 {position: absolute;z-index: 3;bottom: 23px;}
.c11_12 {position: absolute;z-index: 2;bottom: 25px;}
.c11_13 {position: absolute;z-index: 1;bottom: 27px;}

.c12_1 {position: relative;z-index: 13;}
.c12_2 {position: absolute;z-index: 12;bottom: 5px;}
.c12_3 {position: absolute;z-index: 11;bottom: 7px;}
.c12_4 {position: absolute;z-index: 10;bottom: 9px;}
.c12_5 {position: absolute;z-index: 9;bottom: 11px;}
.c12_6 {position: absolute;z-index: 8;bottom: 13px;}
.c12_7 {position: absolute;z-index: 7;bottom: 15px;}
.c12_8 {position: absolute;z-index: 6;bottom: 17px;}
.c12_9 {position: absolute;z-index: 5;bottom: 19px;}
.c12_10 {position: absolute;z-index: 4;bottom: 21px;}
.c12_11 {position: absolute;z-index: 3;bottom: 23px;}
.c12_12 {position: absolute;z-index: 2;bottom: 25px;}
.c12_13 {position: absolute;z-index: 1;bottom: 27px;}

.c13_1 {position: relative;z-index: 13;}
.c13_2 {position: absolute;z-index: 12;bottom: 5px;}
.c13_3 {position: absolute;z-index: 11;bottom: 7px;}
.c13_4 {position: absolute;z-index: 10;bottom: 9px;}
.c13_5 {position: absolute;z-index: 9;bottom: 11px;}
.c13_6 {position: absolute;z-index: 8;bottom: 13px;}
.c13_7 {position: absolute;z-index: 7;bottom: 15px;}
.c13_8 {position: absolute;z-index: 6;bottom: 17px;}
.c13_9 {position: absolute;z-index: 5;bottom: 19px;}
.c13_10 {position: absolute;z-index: 4;bottom: 21px;}
.c13_11 {position: absolute;z-index: 3;bottom: 23px;}
.c13_12 {position: absolute;z-index: 2;bottom: 25px;}
.c13_13 {position: absolute;z-index: 1;bottom: 27px;}

.button {
    width: 100px;
    text-align: center;
    font-family: 'FrederickatheGreat', cursive;
    border: solid 1px black;
    margin: 20px auto;
    top: 20px;
    background: white;
}

.button:hover {
    cursor: pointer;
}

.credits {
    font-size: 10px;
    text-align: center;
}

#button_restart:hover {
    background:lightgreen;
}