* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(lightgreen,turquoise);
    font-family: sans-serif;
    color: white;
}

.heading {
    display: flex;
    position: fixed;
    top: 10px;
    font-size: 30px;
}

.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 40px;
}

#icon1 {visibility: hidden;}
#icon2 {visibility: hidden;}
#icon3 {visibility: hidden;}
#icon4 {visibility: hidden;}
#icon5 {visibility: hidden;}
#icon6 {visibility: hidden;}
#icon7 {visibility: hidden;}
#icon8 {visibility: hidden;}
#icon9 {visibility: hidden;}
#icon10 {visibility: hidden;}
#icon11 {visibility: hidden;}
#icon12 {visibility: hidden;}
#icon13 {visibility: hidden;}
#icon14 {visibility: hidden;}
#icon15 {visibility: hidden;}
#icon16 {visibility: hidden;}
#icon17 {visibility: hidden;}
#icon18 {visibility: hidden;}
#icon19 {visibility: hidden;}
#icon20 {visibility: hidden;}
#icon21 {visibility: hidden;}
#icon22 {visibility: hidden;}
#icon23 {visibility: hidden;}
#icon24 {visibility: hidden;}
#icon25 {visibility: hidden;}
#icon26 {visibility: hidden;}
#icon27 {visibility: hidden;}

.temperature {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 220px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.footer {
    display:flex;
    position:absolute;
    top: 400px;
    font-style: italic;
}

.a {
    color: white;
}

.a:hover {
    color: blue;
}