* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid_wrapper {
    background: grey;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    gap: 10px;
}

#grid_wrapper div {
    transition: all ease-in-out 0.1s;
    width: 80px;
    height: 80px;
    background:rgba(211, 211, 211, 0.479);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 380px;
    height: 380px;
}

#new_number_button {
    width: 200px;
    height: 70px;
    background: lightskyblue;
    margin: 20px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#buttons_grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 100px 50px 100px;
    gap: 10px;
    grid-template-areas: 
        ". u ."
        "l . r"
        ". d .";
}

#buttons_grid div {
    background: lightyellow;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons_grid.horizontal_button {
    width: 50px;
    height: 20px;
}

#buttons_grid.vertical_button {
    width: 20px;
    height: 50px;
}

#up_button {
    grid-area: u;
}

#down_button {
    grid-area: d;
}

#left_button {
    grid-area: l;
}

#right_button {
    grid-area: r;
}