* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: grid;
    position: relative;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 480px 30px 30px;
    grid-template-areas: 
        "he he"
        "ga ga"
        "ps ts"
        "hs . "
}

.border {
    position: fixed;
    background: cornflowerblue;
}

#top_border {
    height: 10px;
    width: 100vw;
    left: 0px;
    top: 0px;
}

#left_border {
    width: 10px;
    height: 100vh;
    left: 0px;
    top: 0px;
}

#bottom_border {
    height: 10px;
    width: 100vw;
    left: 0px;
    bottom: 0px;
}

#right_border {
    width: 10px;
    height: 100vh;
    right: 0px;
    top: 0px;
}

#main_header {
    grid-area: he;
    font-size: 40px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#points_html {
    grid-area: ps;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#high_score_html {
    grid-area: hs;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#time_html {
    grid-area: ts;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#background_canvas {
    grid-area: ga;
    position: absolute;
    top: 0;
    left: 0;
}

#game_canvas{
    grid-area: ga;
    position: absolute;
    top: 0;
    left: 0;
}

#border {
    grid-area: ga;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 480px;
    border: 5px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}