* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "EarlyGameBoy";
    src: url("../fonts/EarlyGameBoy.ttf") format("truetype");
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#game_wrapper {
    position: relative;
    display: flex;
    width: 640px;
    height: 650px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-color: da;
}



h1 {
    margin: 20px;
    font-family: EarlyGameBoy, sans-serif;
}

#game_canvas {
    position: absolute;
    top: 90px;
    border: 5px solid black;
    border-radius: 15px;
}

#background_canvas {
    position: absolute;
    top: 90px;
}

#points_section {
    left: 40px;
}

#time_section {
    right: 40px;
}

.status_section {
    font-family: monospace;
    position: absolute;
    bottom: 15px;
}