@font-face {
    font-family: "SuperPlumberBrothers";
    src: url(../fonts/SuperPlumberBrothers.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(243, 173, 145);
}

section {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.number_box {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 70px;
    background: lightgreen;
    border: 2px solid grey;
    border-radius: 10%;
}

.number_box:hover {
    border: 2px solid black;
    cursor: pointer;
}

.number_box.hidden {
    font-weight: normal;
    background: lightpink;
}

.number_box.dot_marker {
    border: 2px solid black;
    background: white;
    font-weight: normal;
    background: lightgreen;

}

header {
    margin: 70px;
    font-size: 70px;
    font-family: SuperPlumberBrothers;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}