* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.dice {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.flex_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

#input_box {
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}

.counters_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counters_table {
    width: 500px;
    font-family: monospace;
    font-size: 18px;
    border: dashed 2px black;
    border-radius: 10px;
    padding: 10px;
    background: #dfedf5;
}

td:nth-child(1) {
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

td:nth-child(2) {
    width: 50%;
    text-align: left;
}

td:nth-child(3) {
    width: 50%;
    text-align: left;
}

h1 {
    font-family: monospace;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}